
body {
  background-color: #1d1d1d;
  color: #fff;
}

.containerTop {
  background-color: #408cf1;
  margin: 0;
  padding: 15px 25px;
}

.title {
  font-size: 1.2em;
  color: #fff;
  margin: 0;
}

.modalTitle {
  margin: 0;
}

.btnDelete {
  margin-right: 15px;
}

.colorBtn {
  background-color: #4ece8f !important;
  border: #4ece8f !important;
}

.modal-header {
  position: relative;
}

.cross-modal {
  position: absolute;
  top: 12px;
  right: 25px;
}

.modal-footer {
  background-color: #cccccc;
}

.iconSuccess {
  font-size: 4.5em;
  margin: 15px 0;
}

path {
  stroke: #4ece8f;
}

.modalTitleSuccess {
  font-size: 1.8em;
  margin-bottom: 0;
}

.modalSuccessContent {
  margin-top: 5px;
  font-size: 1.2em;
  color: #585858;
}

.buttonOk {
  color: #fff;
  background-color: #8156d0;
  margin-bottom: 10px;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btnCancel {
  position: absolute;
  right: 95px;
  bottom: 20px;
}

.btnSubmit {
  position: absolute;
  right: 15px;
  bottom: -55px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #4ece8f;
  border: 1px solid #4ece8f;
  padding: 0.175rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.modal-content {
  position: relative;
  border: unset !important;
}

.modal-footer {
  height: 80px;
  background-color: #e9e7e7 !important;
  border-bottom: 2px solid #d4d4d4;
}

.modal-dialog {
  max-width: 625px !important;
}

.errorSpan {
  margin-top: 5px;
  color: #D84F4FFF;
}

.btnEdit {
  position: relative;
  z-index: 200;
}